body {
    background-color: #231e2c;
    color: #e6edf3;
    font-family: "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

div{
    margin: 2em;
}

img{
    width: 24em;
    height: 16em;
}

button {
    width: 4em;
    height: 1.5em;
    background-color: #996aa0;
    color: #0d1117;
    border: none;
    border-radius: 0.5em;
    font-size: 1.5em;
}

button:hover{
    background-color: #c499c3;
}